;!@Install@!UTF-8!
Title="Portable Git for Windows 64-bit"
BeginPrompt="This archive extracts a complete Git for Windows 64-bit"
CancelPrompt="Do you want to cancel the portable Git installation?"
ExtractDialogText="Please, wait..."
ExtractPathText="Where do you want to install portable Git?"
ExtractTitle="Extracting..."
GUIFlags="8+32+64+256+4096"
GUIMode="1"
InstallPath="%%S\\PortableGit"
OverwriteMode="0"
RunProgram="git-bash.exe --needs-console --hide --no-cd --command=post-install.bat"
;!@InstallEnd@!
